
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

/* header */

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.header_innner {
  position: relative;
}

.fa-bolt {
  color: #4e4e4e;
  font-size: 40px;
  padding: 15px 0;
}

.contact_botton {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  position: absolute;
  top: 15px;
  left: 90%;
}

/* BOLT THEME */

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.page-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

.sub-title {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

/* WHAT WE CAN DO */

.main_content {
  background-color: #74cfae;
}

.main_content_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main_items {
  width: 50%;
}

.iphone-box {
  display: flex;
  justify-content: center;
}

.iphone {
  padding-top: 50px;
}

.main_title {
  font-size: 24px;
  text-align: center;
}

.main_phrases {
  font-size: 20px;
  padding-top: 35px;
  line-height: 20px;
  text-align: center;
}

/* OUR LATEST WORK */

.latest_work {
  background-color: #f2f2f2;
  color: #333;
}

.latest_work_inner {
  padding: 60px 0 70px;
  margin: 0 auto;
}

.our-latest-work_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-box {
  float: left;
  height: 300px;
  width: 300px;
  margin-top: 80px;
  margin-left: 100px;
}

.portfolio-box:nth-child(1) {
  margin-left: 0;
  margin-top: 0;
}

.portfolio-box:nth-child(2) {
  margin-top: 0;
}

.portfolio-box:nth-child(3) {
  margin-top: 0;
}

.portfolio-box:nth-child(4) {
  margin-left: 0;
}

.message {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.email_me_message {
  text-align: center;
  margin-right: 90px;
  width: 60%;
}

.email_me {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 20px;
}

/* OUR SKILLS */

.our_skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
}

.our_skills_title {
  font-size: 24px;
  text-align: center;
}

.skill-box {
  display: flex;
  justify-content: space-around;
}

.skill_kinds {
  margin-top: 50px;
}

.skill_names {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

/* SNS */

.social_media {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns {
  font-size: 0;
  color: #74cfae;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  width: 185px;
}

.sns:hover {
  background-color: #fff;
  cursor: pointer;
}

/* footer */

.footer {
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0 25px;
  position: relative;
}

.copy-rights {
  display: flex;
  justify-content: flex-end;
}