
img {
  vertical-align: top;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.small-captions {
  font-family: 'Lato', sans-serif;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

/* header */

.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header_inner {
  display: flex;
  justify-content: space-between;
}

.lightning {
  color: #4e4e4e;
  font-size: 40px;
}

.hm-menu {
  display: none;
}

.contact_botton {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  transition: all 0.3s;
}

.contact_botton:hover {
  color: #333;
}

/* BOLT THEME */

.main {
  padding-top: 70px
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.page-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.sub-title {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

/* WHAT WE CAN DO */

.main_content {
  background-color: #74cfae;
  padding-top: 50px;
}

.main_content_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main_items {
  width: 50%;
}

.iphone-box {
  display: flex;
  justify-content: center;
}

.main_title {
  font-size: 24px;
  text-align: center;
}

.main_phrases {
  font-size: 20px;
  margin-top: 35px;
  line-height: 20px;
  text-align: center;
}

/* OUR LATEST WORK */

.latest_work {
  background-color: #f2f2f2;
  color: #333;
  padding: 60px 0 70px;
}

.latest_work_inner {
  margin: 0 auto;
}

.our-latest-work_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-box {
  float: left;
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.portfolio-box:hover {
  opacity: 1;
}

.portfolio-box:nth-child(-n + 3) {
  margin-top: 0;
}

.portfolio-box:nth-child(3n + 1) {
  margin-left: 0;
}

.message {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.email_me_message {
  text-align: center;
  margin-right: 90px;
  width: 60%;
}

.email_me {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 20px;
  transition: all 0.3s;
}

.email_me:hover {
  color: #333;
}

/* OUR SKILLS */

.our_skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
}

.our_skills_title {
  font-size: 24px;
  text-align: center;
}

.skill-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.skill_names {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

/* SNS */

.social_media {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns {
  box-sizing: border-box;
  color: #74cfae;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  padding: 20px;
  width: 185px;
  transition: all 0.3s;
}

.sns:hover {
  background-color: #fff;
  cursor: pointer;
}

/* footer */

.footer {
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0 25px;
}

.copy-rights {
  text-align: right;
}


/* レスポンシブ対応 */

@media screen and (max-width:1199px) {

  .inner {
    width: 97%;
  }

  /* WHAT WE CAN DO */

  .main_content_inner {
    display: block;
  }

  .main_content {
    padding-bottom: 25px;
  }

  .main_items {
    width: 100%;
  }

  .main_title{
    margin-top: 20px;
  }

  /* OUR LATEST WORK */

  .portfolio-icons {
    display: block;
    text-align: center;
  }

  .portfolio-box {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .portfolio-box:nth-child(3n + 1) {
    margin-top: 80px;
  }

  .message {
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
  }

  .email_me_message {
    margin-right: 0;
  }

  .email_me {
    width: 60px;
    margin-top: 40px;
  }

  /* OUR SKILLS */

  .skill-box {
    display: block;
  }

  .skill_kinds {
    margin-bottom: 88px;
    text-align: center;
  }

  .skill_kinds:last-child {
    margin-bottom: 30px;
  }

}

@media screen and (max-width:767px) {

  /* header */

  .contact_botton {
    display: none;
  }

  .hm-menu {
    color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
  }

  .sns-box {
    display: block;
  }

  .theme {
    padding: 160px 0 130px;
  }

  .social_media {
    padding: 50px 0;
  }

  .sns {
    width: 100%;
    padding: 40px;
  }

}
